
#UTickets {
    width:50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}

body {
    background-color: rgb(0, 0, 0);
}

#googleImg{
    width:100%;
    height:auto;
}

#signInButton {
    padding-top: 20px;
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    border: none;
    height: auto;
    background: none;
}

